:root{
    --color-background:#f5efe6;
    --color-background-hover:#eadbc8;
    --color-background-border:#ddd7cf;
    --color-background-border-hover:#dac0ae;
    --color-background-container:#ffffff;
    --color-title: #e86a33;
    --color-letters: #3e120c;
    --color-letters-secondary:#333;
    --color-border: #8f2d1d;
    --color-bg-btn-hover: #d15f2e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {font-size: 62.5%;}

body {
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}


/*************/
/* Container */
/*************/
.container{
    background-color: var(--color-background-container);
    width: 100%;
    max-width: 50rem;
    border-radius: 1.5rem;
    box-shadow: 0 1rem 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}


.elemContainer{
    text-align: center;
    padding: 2rem;
    display: none;    
}

.active{display: block;}


/********************/
/* Phase - 1: Start */
/********************/
#startElem h1,
#resultsElem h1{
    font-size: 3rem;
    color: var(--color-title);
    margin-bottom: 2rem;
}

#startElem p{
    font-size: 1.3rem;
    color: var(--color-letters);
    margin-bottom: 3rem;
}

button {
    cursor: pointer;
    color: var(--color-background-container);
    background-color: var(--color-title);
    font-size: 1.4rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {background-color: var(--color-bg-btn-hover);}


/*******************/
/* Phase - 2: Quiz */
/*******************/
.questionHeader{
    margin-bottom: 2rem;
}

#question{
    color: var(--color-letters);
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.quizInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-letters);
    margin-bottom: 1rem;
}

#posibleAnswers{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.progressBar {
    height: 1rem;
    margin-top: 2rem;
    border-radius: 5rem;
    background-color: var(--color-background);
    overflow: hidden;
}

.progress {
    height: 100%;
    width: 0%;
    background-color: var(--color-title);
    transition: width 0.3s ease;
}

.answerBtn {
    cursor: pointer;
    background-color: var(--color-background);
    border: 2px solid var(--color-background-border);
    border-radius: 1rem;
    text-align: left;
    color: var(--color-letters-secondary);
    padding: 1rem;
    transition: all 0.3s ease;
}

.answerBtn:hover {
    background-color: var(--color-background-hover);
    border-color: var(--color-background-border-hover);
}

.answerBtn.correct {
    background-color: var(--color-background-container);
    border-color: #a3f0c4;
    color: #28a745;
}

.answerBtn.incorrect {
    background-color: var(--color-background-container);
    border-color: #ffbdbd;
    color: #dc3545;
}


/**********************/
/* Phase - 3: Results */
/**********************/
.resultsContainer{
    background-color: var(--color-background);
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 2rem;
}

.resultsContainer p{
    color: var(--color-letters);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#finalScore,
#totalScore{font-weight: 700;}

#results{
    color: var(--color-title);
    font-size: 1.8rem;
    font-weight: 600;
}